<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Start Page</title>

        <!-- Placeholder for CSS and JavaScript -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <script src="static/js/bootstrap.bundle.min.js"></script>
        <script src="static/js/pca.js" defer></script>
    </head>
    <body>
        <div id="main">
            <main class="container">
                <!-- Title Section -->
                <div class="jumbotron text-center">
                    <h1>Welcome to YourAgentName!</h1>
                </div>

                <!-- Introductory Text -->
                <div class="text-center">
                    <p>You are about to interact with our agent. It can help you find a recipe to your taste.</p>
                </div>

                <!-- Instruction Text -->
                <div class="text-center">
                    <p>When you're ready, press the Start button below to begin.</p>
                </div>

                <!-- Start Button -->
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" id="start">Start</button>
                </div>
            </main>
        </div>
    </body>
</html>
